*{
    margin: 0;
    padding: 0;
    
}
header{
    background-color: #1A0B2E;
}
nav{
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav .logo h3{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
 .logo .text-gradient{
    color: Linear;
    font-size: 50px;
} 
.menu ul{
    display: flex;
    
}
.menu ul li{
    color: #ffffff;
    list-style: none;
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
}
.btn-1{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(45deg, rgb(255, 255, 0),rgb(233, 20, 56), purple);
}
.btn-1 a{
    color: #ffffff;
    text-decoration: none;
}
.banner{
    background-image: url(assets/hero-bg.png);
    height: 760px;
    width: 100%;
}
.banner .img-1{
    margin-left: 41%;
    margin-top: 85px;
}
.banner .img-2{
    margin-left: 49%;
    position: relative;
    top: -275px;
}
.banner h2{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.banner p{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    opacity: 80%;
}
.btn-twin{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.btn-twin .btn-twin-1{
    padding: 10px 30px;
    color: #ffffff;
    background: linear-gradient(45deg, yellow, rgb(233, 10, 48), purple);
    border-radius: 30px;
}
.btn-twin .btn-twin-2{
    padding: 10px 30px;
    color: green;
    background: transparent;
    border-radius: 30px;
    border: 1px solid green
}
.banner-heading{
    margin-top: -200px;

}
.banner .btn-new{
    color: black;
    background: green;
    padding: 10px 30px;
    border-radius: 30px;
    position: relative;
    top: -500px;
    font-size: 18px;
    font-weight: 400;
}
.about{
    background-color: #1A0B2E;
}
.about-heading h2{
    font-size: 48px;
    color: #ffffff;  
    font-weight: bold;
    text-align: center;
}
.about-heading p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
    line-height: 20px;
}
.about-heading .p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
    margin-top: 30px;
}
.about-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;  
    width: 71%;
    padding-bottom: 50px;
    
}
.about-bottom h2{
    color: #00ff88;
    font-size: 48px;
    font-weight: bold;
}
.about-bottom p{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    opacity: 80%;
}
.podcast{
    background-color: #1A0B2E;
}
.podcast-heading h2{
    font-size: 48px;
    color: #ffffff;  
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
}
.podcast-heading p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
    line-height: 20px;
}
.podcast-heading .p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
    margin-top: 30px;
}
.podcast-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;  
    width: 71%;
    padding-bottom: 50px;
}
.podcast-bottom h2{
    color: #00ff88;
    font-size: 48px;
    font-weight: bold;
}
.podcast-bottom p{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    opacity: 80%;
}
.quality-container{
    background-color: #230E3D;
    padding-bottom: 80px;
}
.quality-container h1{
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 80px;
}
.quality-grid-1{
    grid-area: quality-grid-1;
    background-color: #351165;
    border-radius: 16px;
    padding: 80px 40px;
}
.quality-grid-1 h3{
    font-size: 24px;
    font-weight: bold;
}
.quality-grid-1 p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    padding-top: 20px;
}
.quality-grid-2{
    grid-area: quality-grid-2;
    background-color: #351165;
    border-radius: 16px;
    padding: 40px;
}
.quality-grid-2 h3{
    font-size: 24px;
    font-weight: bold;
}
.quality-grid-2 p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    padding-top: 20px;
}
.quality-grid-3{
    grid-area: quality-grid-3;
    background-color: #351165;
    border-radius: 16px;
    padding: 40px;
}
.quality-grid-3 h3{
    font-size: 24px;
    font-weight: bold;
}
.quality-grid-3 p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    padding-top: 20px;
}
.quality-grid-4{
    grid-area: quality-grid-4;
    background-color: #351165;
    border-radius: 16px;
    padding: 40px;
}
.quality-grid-4 h3{
    font-size: 24px;
    font-weight: bold;
}
.quality-grid-4 p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    padding-top: 20px;
}
.quality-grid-5{
    grid-area: quality-grid-5;
    background-color: #351165;
    border-radius: 16px;
    padding: 40px;
}
.quality-grid-5 h3{
    font-size: 24px;
    font-weight: bold;
}
.quality-grid-5 p{
    font-size: 16px;
    opacity: 60%;
    line-height: 24px;
    padding-top: 20px;
}
.quality-grid{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "quality-grid-1 quality-grid-2 quality-grid-2"
    "quality-grid-1 quality-grid-3 quality-grid-3"
    "quality-grid-4 quality-grid-4 quality-grid-5"
    ;
    
}
.quality-grid{
    padding: 24px;
    color: #ffffff;
    width: 71%;
    margin: 0 auto;
    gap: 20px;
    
}
.featured-container{
    background-color: #1A0B2E;
}
.featured-container h2{
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
}
.featured-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "card-1 card-2 card-3"
    ;
    width: 71%;
    height: auto;
    margin: 0 auto;
    gap: 100px;
    overflow: hidden;
    
}
.featured-card .card-1{
    border-radius: 12px;
    background-color: #351165;
}
.featured-card .card-1 iframe{
    border-radius: 12px;
}
.featured-card .card-1 h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.featured-card .card-1 p{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    padding: 10px;
}
.featured-card .card-1 .p{
    color: #00ff88;
}
.featured-card .card-2{
    border-radius: 12px;
    background-color: #351165;
}
.featured-card .card-2 iframe{
    border-radius: 12px;
}
.featured-card .card-2 h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.featured-card .card-2 p{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    padding: 10px;
}
.featured-card .card-2 .p{
    color: #00ff88;
}
.featured-card .card-3{
    border-radius: 12px;
    background-color: #351165;
}
.featured-card .card-3 iframe{
    border-radius: 12px;
}
.featured-card .card-3 h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.featured-card .card-3 p{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    padding: 10px;
}
.featured-card .card-3 .p{
    color: #00ff88;
}
/* footer section */

.footer{
    background-image: url('assets/footer-bg.png');
    width: 100%;
    height: 600px;
}